{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <title>Telefonla Randevu | Dr. Dt. Devrim Biriken Sipahi</title>
  <meta name="description"
    content="Dr. Dt. Devrim Biriken Sipahi'yi arayarak hızlıca randevu alın. İstanbul Şişli, Mecidiyeköy ve Beşiktaş'ta hizmet veren kliniğimiz ile iletişime geçin.">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://devrimbirikensipahi.com.tr/telefonla-yonlendirme" />

  <!-- Google Tag -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17150773342"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'AW-17150773342');

    function triggerConversionAndRedirect() {
      gtag('event', 'conversion', {
        'send_to': 'AW-17150773342/zFNVCLinudcaEN6QkPI_'
      });

      // 500ms sonra Telefon uygulamasını tetikle
      setTimeout(function () {
        window.location.href = "tel:+905055771883";
      }, 2500);
    }

    window.onload = triggerConversionAndRedirect;
  </script>

  <script>
    document.cookie = "csrftoken={{ csrf_token }}; path=/";
  </script>


  <script src="{% static 'js/ads-tracking-backend.js' %}"></script>

  <style>
    body {
      font-family: sans-serif;
      text-align: center;
      margin-top: 100px;
    }

    a {
      display: inline-block;
      padding: 14px 24px;
      background-color: #2563eb;
      color: white;
      font-weight: bold;
      text-decoration: none;
      border-radius: 8px;
    }
  </style>
</head>

<body>
  <h1 style="color: red;">Şişli Özel Klinik</h1>
  <h1>Dr. Devrim Biriken Sipahi Kliniği</h1>
  <h1>Telefonla Randevu Alınıyor...</h1>
  <p>Telefon uygulamanız açılıyor. Lütfen bekleyin...</p>

  <a href="tel:+905055771883" target="_blank" rel="noopener noreferrer">
    Telefonla Ara
  </a>


</body>

</html>